<header class="d-flex justify-content-center my-3">
    <div class="container d-flex flex-row gap-3 flex-wrap">
        <h2>Tipos</h2>
        <button class="btn" style="background-color: #F08030" (click)="filterType('fire')">Fuego</button>
        <button class="btn btn-info" (click)="filterType('water')">Agua</button>
        <button class="btn btn-info" (click)="filterType('grass')">Planta</button>
        <button class="btn btn-info" (click)="filterType('fairy')">Hada</button>
        <button class="btn btn-info" (click)="filterType('electric')">Electrico</button>
        <button class="btn btn-info" (click)="filterType('fighting')">Lucha</button>
        <button class="btn btn-info" (click)="filterType('psychic')">Psiquico</button>
        <button class="btn btn-info" (click)="filterType('bug')">Bicho</button>
        <button class="btn btn-info" (click)="filterType('rock')">Roca</button>
        <button class="btn btn-info" (click)="filterType('flying')">Volador</button>
        <button class="btn btn-info" (click)="filterType('ground')">Tierra</button>
        <button class="btn btn-info" (click)="filterType('ghost')">Fantasma</button>
        <button class="btn btn-info" (click)="filterType('ice')">Hielo</button>
        <button class="btn btn-info" (click)="filterType('dragon')">Dragon</button>
        <button class="btn btn-info" (click)="filterType('dark')">Siniestro</button>
        <button class="btn btn-info" (click)="filterType('steel')">Acero</button>
        <button class="btn btn-info" (click)="filterType('rock')">Roca</button>
        <button class="btn btn-info" (click)="filterType('normal')">Normal</button>
    </div>
    <div class="container d-flex justify-content-end" style="max-width: 30px;">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Regiones
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="gen(1)">Kanto</a></li>
            <li><a class="dropdown-item" (click)="gen(2)">Johto</a></li>
            <li><a class="dropdown-item" (click)="gen(3)">Hoen</a></li>
            <li><a class="dropdown-item" (click)="gen(4)">Shinno</a></li>
            <li><a class="dropdown-item" (click)="gen(5)">Teselia/Unova</a></li>
            <li><a class="dropdown-item" (click)="gen(6)">Kalos</a></li>
            <li><a class="dropdown-item" (click)="gen(7)">Alola</a></li>
            <li><a class="dropdown-item" (click)="gen(8)">Galar</a></li>
            <li><a class="dropdown-item" (click)="gen(9)">Paldea</a></li>
        </ul>
    </div>
    

</header>


<main class="d-flex justify-content-center gap-5 flex-wrap">
@defer (on timer(10s)){

    @for (pokemon of Pokedex; track pokemon.id ){
        <div class="card" style="width: 18rem;">
            <img src="{{pokemon.urlImage}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>{{pokemon.name | uppercase}}</h5>
                <p class="pkm-types">{{pokemon.types[0].type.name}}</p>
                @if (pokemon.types.length > 1){
                    <p class="pkm-types">{{pokemon.types[1].type.name}}</p>
                }
                <p class="card-text">{{pokemon.desc[1]}}</p>
                <span class="bg-number">{{pokemon.id}}</span>
        </div>
        </div>
    }
    @empty {
        <p>No hay resultados</p>
    }
} 
@placeholder {
    <p>Cargando...</p>
}
@loading {
    <p>loading...</p>
}
</main>
