<div class="d-flex justify-content-center flex-wrap">

  <div class="d-flex input-group flex-wrap my-3" style="width: 100vh;">
    <input type="search" required="true" placeholder="Ejemplo: Lugia" [(ngModel)]="name" (keyup.enter)="search()" class="form-control" >
    <button (click)="search()" class="btn btn-outline-primary">Buscar</button>
  </div>
  <br/>
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="{{urlImageShiny}} " 
      onerror="this.src='https:\/\/www.latercera.com/resizer/MFg5ToGsCNsgrAQRvJ6CuEqJbOA=/800x0/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/LUOOHUM2OVEEXG7ZTRSNI6XWLY.png';" class="card-img-top" alt="foto pokemon">
      <h5 class="card-title">Pokemon Modo: Shiny</h5>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{urlImageFront}}" onerror="this.src='https:\/\/www.latercera.com/resizer/MFg5ToGsCNsgrAQRvJ6CuEqJbOA=/800x0/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/LUOOHUM2OVEEXG7ZTRSNI6XWLY.png';" class="card-img-top" alt="foto pokemon">
    <div class="card-body">
      <h5 class="card-title" >{{name}}</h5>
      <p class="card-text">{{description}}</p>
      <a href="#"  class="btn btn-secondary">Nada</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{urlImageBack}}" onerror="this.src='https:\/\/www.latercera.com/resizer/MFg5ToGsCNsgrAQRvJ6CuEqJbOA=/800x0/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/LUOOHUM2OVEEXG7ZTRSNI6XWLY.png';" class="card-img-top" alt="foto pokemon">
    <div class="card-body">
      <h5 class="card-title">Pokemon Modo: de espaldas</h5>
    </div>
  </div>
</div>

    </div>